<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>article</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0);">Dale's&nbsp;Blog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="../index.html"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="../aboutme.html">关于我</a></li>
                <li><a href="../publish.html">发文章</a></li>
            </ul>
        </div>
    </div>
</nav>






<!--文章-->
<div class="container">
    <div class="my_article"></div>

</div>


<!--底部-->

<footer class="footer ">
    <div class="container">
        <hr/>
        <div class="row footer-bottom">
            <ul class="list-inline text-center">
                <li><a href="http://www.coderw.cn/" target="_blank">© www.coderw.cn</a></li><li>版权所有 ICP证：辽16009639号-1</li>
            </ul>
        </div>
    </div>
</footer>

<script>
$(document).ready(function(){

   var data = {{ data|safe }};
    data = data.data;
    console.log(data);

    var strhtml =  '<div class="row">\
                    <div class="col-xs-8 col-xs-offset-2">\
                    <h3 class="text-center">'+data[0]["title"]+'</h3>\
                    <p class="text-center"><span class="label label-success">'+data[0]["category"]+'</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-calendar"></span>&nbsp;<span>'+data[0]["pub_date"]+'</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;<span>'+data[0]["author"]+'</span> </p>\
                    <p>'+data[0]["content"]+'</p>\
                    </div>\
                    </div>';

    $(".my_article").append(strhtml);
})
</script>
</body>
</html>